<!DOCTYPE html>
<html>
  <head>
    <title>FishNGames</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= favicon_link_tag asset_path('logo_favicon.png') %>

    <script type="text/javascript">
      window.userLoginIcon = "<%= image_url('user_login_icon.png') %>"
      window.cartBlackIcon = "<%= image_url('cart_black.png') %>"
      window.cartTealIcon = "<%= image_url('cart_teal.png') %>"
      window.error_404 = "<%= image_url('error_404.jpg') %>"
      window.logoIcon = "<%= image_url('logo.jpg') %>"
      window.fishingBanner1 = "<%= image_url('fishing_banner_1.jpg') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
