<!DOCTYPE html>
<html>
  <head>
    <title>FishNGames</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property="og:title" content="Project Title" />
    <meta property='og:image' content="<%= image_url('fish_n_games.jpg') %>"/>
    <meta property="og:description"
      content="A BassProShop website clone built with Ruby on Rails and React + Redux."
    />

    <meta property="og:url"
      content="https://fish-n-games.herokuapp.com/"
    />

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= favicon_link_tag asset_path('logo_favicon.png') %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <script type="text/javascript">
      window.userLoginIcon = "<%= image_url('user_login_icon.png') %>"
      window.cartBlackIcon = "<%= image_url('cart_black.png') %>"
      window.cartTealIcon = "<%= image_url('cart_teal.png') %>"
      window.error_404 = "<%= image_url('error_404.jpg') %>"
      window.logoIcon = "<%= image_url('logo.jpg') %>"
      window.fishingBanner1 = "<%= image_url('fishing_banner_1.jpg') %>"
      window.linkedin = "<%= image_url('linkedin_logo.jpg') %>"
      window.github = "<%= image_url('github_logo.jpg') %>"
    
      window.fishingLeaderboard = "<%= image_url('Fishing_Leaderboard.jpg') %>"
      window.boatingLeaderboard = "<%= image_url('Boating_Leaderboard.jpg') %>"
      window.shootingLeaderboard = "<%= image_url('Shooting_Leaderboard.jpg') %>"
      window.huntingLeaderboard = "<%= image_url('Hunting_Leaderboard.jpg') %>"
      window.clothingLeaderboard = "<%= image_url('Clothing_Leaderboard.jpg') %>"
      window.footwearLeaderboard = "<%= image_url('Footwear_Leaderboard.jpg') %>"
      window.campingLeaderboard = "<%= image_url('Camping_Leaderboard.jpg') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
