<!DOCTYPE html>
<html>
  <head>
    <title>FishNGames</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.userLoginIcon = "<%= image_url('user_login_icon.png') %>"
      window.cartIcon = "<%= image_url('cart_icon.png') %>"
      window.error_404 = "<%= image_url('error_404.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
